:root {
  --pink: #d73d6c;
  --salmon: #d57276;
  --beige: #d6c2bc;
  --grey: #c0cccc;
  --darkgrey: #b0bbbb;
  --blue: #65b2c6;
}


body {
  font-family: sans-serif;
  margin: 0px;
  height: 100vh;
  font-size: .8em;
  background-color: var(--grey); 
  background-image: 
    repeating-linear-gradient(to right, transparent 0px, transparent 20px, #d73d6c1f 20px, #d73d6c1f 40px),
    repeating-linear-gradient(to bottom, transparent 0px, transparent 20px, #d73d6c1f 20px, #d73d6c1f 40px);
}
