:root {
  --pink: #d73d6c;
  --salmon: #d57276;
  --beige: #d6c2bc;
  --grey: #c0cccc;
  --blue: #65b2c6;
}

.flip-tile {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: transparent;
  perspective: 500px;
}

.inner-tile {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/*
.flip-tile:hover .inner-tile {
  transform: rotateY(180deg);
}
*/ 
.flipped {
  transform: rotateY(180deg);
}

.tile-back, .tile-front {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tile-back {
  background-color: whitesmoke;
}

.tile-back img {
  width: 70%;
  height: 70%;
  padding: 15%;
  opacity: 0.8;
}

.tile-front {
  background-color: whitesmoke;
  transform: rotateY(180deg);
}

.tile-front img {
  width: 60%;
  height: 60%;
  background-color: transparent;
  padding: 20%;
}

.tile-front p {
  width: 70%;
  height: 70%;
  margin: 15%;
  text-align: center;
  font-size: 50px;
  line-height: 70px;
}

