.board {
  width: 800px;
  height: 600px;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(8, 1fr);
  background-color: whitesmoke;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}
