:root {
  --pink: #d73d6c;
  --salmon: #d57276;
  --beige: #d6c2bc;
  --grey: #c0cccc;
  --blue: #65b2c6;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  color: white;
  padding: 15px;
  margin: 0px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
